{% extends "template.html" %} {% block body %}
<div class="container-fluid my-5" style="height: 90vh">
  <div class="row justify-content-center" style="margin: auto">
    <a href="/{{ tname }}/search">
      <button type="button" class="btn btn-primary" style="min-width: 600px">
        Search for a Member
      </button>
    </a>
  </div>
  <div class="row justify-content-center my-5" style="margin: auto">
    <br />
    <form action="" method="post" style="min-width: 50%">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Member-Name</th>
            <th scope="col">Time</th>
            <th scope="col">Date</th>
          </tr>
        </thead>
        <tbody>
          {% for document in search %}
          <tr>
            <td>{{document['Name']}}</td>
            <td>{{document['Time']}}</td>
            <td>{{document['Date']}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </form>
  </div>
</div>
{% endblock %}
